*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100% !important;
}
body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-heading{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.home-heading::before,.home-heading::after{
    content: "";
    display: inline-block; 
    width: 200px;
    height:2px;
    background-color: #000;
}

.ionicon{
    display: block;
    height: 25PX;
    width: 25PX;
    Stroke: white;
}

.container{
    max-width: 3000px;
}
.w-fit{
    width: fit-content !important;
}
/* navbar csss start  */
nav ul li{
    position: relative;
}
nav ul li i{
    transition: ease all 0.3s;
}
nav ul li:hover i{
    transform: rotate(180deg);
}

/* navbar csss end */

@media (max-width:768px){
    .home-heading{
        font-size: 1.5rem;
    }

}
